.sidjlogo {top: 13px;height: 95px;left: 26px;position: absolute;width: 163px;}
.productimg {max-width:300px;max-height:200px;margin: 50px auto;display:block;}
.technicalraw {height:48px;width:100%;}

/* GENERAL */
/* font */
.fontbold {font-weight: bold;}
.font10 {font-size:10px;}
.font12 {font-size:12px;}
.font15 {font-size:15px;}
.font18 {font-size:18px;}
h5 {font-size:15px;}

/* color */
.blackcolor {color: #000;}

/* text position */
.textjustify {text-align:justify;}
.textcenter {text-align:center;}

/*hauteur largeur*/
.heightforenglishblockalignement {height:43px;}
.height130 {height:130px;}
.height200 {height:200px;}

/* margin padding*/
.margintab0 {margin-bottom:0;padding-left:0;}
.margintab {margin-top:30px;margin-bottom:0;padding-left:0;}
.margin10 {margin: 10px 0;}
.marginpdfdownload {margin:20px 0;}
.marginforbarcode {margin-top:33px;}
.paddingtop2 {padding-top:2px;}
.paddingtop10 {padding-top:10px;}
.padding1015 {padding-top: 10px;padding-left:15px;}
.paddingleft128 {padding-left:128px;}
.paddingleft275 {padding-left:275px;}

/* border */
.bordertab {border: 1px solid #000;}
.bordertop {border-top:1px solid #000;}
.borderright {border-right:1px solid #000;}
.borderbottom {border-bottom: 1px solid #000;}
.borderleft {border-left:1px solid #000;}
