<div class="col-lg-12" style="margin-top:10px;">
  <div class="row" style="margin-top:25px;">
    <h4 class="col-md-12" style="border-bottom:1px dotted #000; ">
      {{'HOME.SUPPLIERTITLE' | translate}}

    </h4>
    <div class="offset-sm-8 col-sm-2" >
      <button class="btn" style="background-color:#E31319" [routerLink]="['register/supplier']">{{'HOME.SUPPLIERBUTTON' | translate}}</button>
    </div>
  </div>
  <div class="row" style="margin-top:25px;">
    <h4 class="col-md-12" style="border-bottom:1px dotted #000; ">
      {{'HOME.AGENTTITLE' | translate}}

    </h4>
    <div class="offset-sm-8 col-sm-2" >
      <button class="btn" style="background-color:#E31319" [routerLink]="['register/agent']">{{'HOME.SUPPLIERBUTTON' | translate}}</button>
    </div>
  </div>
</div>
