<div >
  <nb-card>
    <nb-card-header>
      <h2>Reset your password</h2>
    </nb-card-header>
    <nb-card-body>
      <form *ngIf="userAuthForm" [formGroup]="userAuthForm" (ngSubmit)="onSubmit()">
        <div class=" row"   >
          <div class="col-md-12">
            <div class="form-group">
              <label for="password">Mot de passe*</label>
              <div class="input-group input-group-sm">
                    <span class="input-group-addon "
                          [ngClass]="[ userFormErrorsBool[password.id] ? 'danger' : 'success']">
                      <i class="fa fa fa-key" aria-hidden="true"></i>
                    </span>
                <input type="password"
                       class="form-control"
                       [ngClass]="[ userFormErrorsBool[password.id] ? 'form-control-danger' : '']"
                       id="password"
                       #password
                       (blur)="_blurError(userFormErrors.password, $event)"
                       placeholder="mot de passe du user"
                       formControlName="password">
              </div>
              <div *ngIf="userFormErrors.password && userFormErrorsBool.password"
                   class="small text-danger"
                   [innerHTML]="userFormErrors.password">
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="confirmPassword">Confirmer le mot de passe*</label>
              <div class="input-group input-group-sm">
                    <span class="input-group-addon "
                          [ngClass]="[ !isPasswordConfirmed() && pwdc.value !== ''  ? 'danger' : 'success']">
                      <i class="fa fa fa-key " aria-hidden="true"></i>
                    </span>
                <input type="password" #pwdc
                       class="form-control"
                       [ngClass]="[ !isPasswordConfirmed() && pwdc.value !== '' ?  'form-control-danger' : '']"
                       id="confirmPassword"
                       #confirmPassword
                       (blur)="_blurError(userFormErrors.confirmPassword, $event)"
                       placeholder="Confirmer le mot de passe"
                       formControlName="confirmPassword">
              </div>
              <div *ngIf="!isPasswordConfirmed() && pwdc.value !== ''"
                   class="small text-danger text-center"
              >
                mot de passe n'est pas conforme

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group ">
              <div class="container-btn">
                <button class="btn btn-primary btn-tn" type="submit" [attr.disabled]="userAuthForm.invalid || submitting ? true : null">Modifier</button>
                <button class="btn btn-warning btn-tn"   type="button"  (click)="_resetForm()">Reset</button>

              </div>
            </div>
          </div>
        </div>
      </form>

    </nb-card-body>
    <nb-card-footer>
      <div class="links col-sm-12">
        <small class="form-text"> Already have an account? <a routerLink="../login"><strong>Sign In</strong></a>  </small>
        <small class="form-text"> <a routerLink="../register"><strong>Sign Up</strong></a>  </small>
      </div>
    </nb-card-footer>
  </nb-card>
</div>



