<div class="modal-header">
  <span>{{'MDPOUBLIE.ADRESSEMAIL' | translate}} </span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form name="form" (ngSubmit)="f.form.valid && forgetPassword()" #f="ngForm">
  <div class="modal-body">

      <div class="form-group" >
        <label for="email">Email</label>
        <input [ngClass]="[  f.submitted && !email.valid ? 'form-control-danger': 'form-group']" id="email"
               type="email" class="form-control" name="username" [(ngModel)]="user.email" #email="ngModel"
               required />
        <div *ngIf="f.submitted && !email.valid"  class="small text-danger">{{'MDPOUBLIE.EMAILREQUIS' | translate}} </div>
      </div>
    <div class="links col-sm-12">
      <small class="form-text"> {{'MDPOUBLIE.PHRASE' | translate}} <a routerLink="home" (click)="SignIn()" style="color: #00378a;"><strong>{{'MDPOUBLIE.ENREGISTRER' | translate}}</strong></a>  </small>
      <small class="form-text"> <a routerLink="register" (click)="SignUp()" style="color: #00378a;"><strong>{{'MDPOUBLIE.CREER' | translate}}</strong></a>  </small>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-md btn-primary" style="background-color: #E31319;">{{'GENERAL.ENVOYER' | translate}}</button>
  </div>
</form>





