/*Class générique*/
select {padding: 0 15px !important;height:37px !important;color:#2a2a2a !important;}
//input {padding: 16px 15px !important;}
input { height:37px !important;}
textarea {height: 150px !important;}
i {display:block;}

/*Class Css*/
.spacebutton {margin:3px 0;}
.bluecolor { background-color: #00378a;}
.redcolor {color:#e31319;}
.blackcolor {color:#000;}
.blackcolor:hover {color:#000;}
.alignicone {width:60px;text-align:center;}
.height36 {height:36px !important;}
