/*Class générique*/
select {padding: 0 15px !important;height:37px !important;color:#2a2a2a !important;}
//input {padding: 16px 15px !important;}
input { height:37px !important;}
i {display:block;}

/* class css*/
.alignicone {width:60px;text-align:center;}
.backgroundred {background-color: #E31319;}
.pictureclass {max-width:300px; max-height:200px; margin: 50px auto; display:block;}
