/*Class générique*/
//input {padding: 16px 15px !important;}
input { height:37px !important;}
i {display: block;}

/* class css*/
.spacebutton {margin:3px 0;}
.bluecolor { background-color: #00378a;}
.blackcolor {color:#000;}
.blackcolor:hover {color:#000;}
.greycolor {background-color:#f6f6f6;}
.height36 {height:36px !important;}
