<div class="container">
  <div class="row">
    <!--<ngx-translate></ngx-translate>-->
    <div class="col-xxxl-12">
      <div class="row" style="margin-top:15px;">
        <div class="col-lg-6">
          <ngx-home-content-identification></ngx-home-content-identification>
        </div>
        <div class="col-lg-6">
          <ngx-home-content-sidj-contact></ngx-home-content-sidj-contact>
        </div>
      </div>
    </div>

    <div class="col-xxxl-6">
      <ngx-home-content-register></ngx-home-content-register>
    </div>
    <div class="col-xxxl-6">
      <ngx-home-content-login></ngx-home-content-login>
    </div>
  </div>
</div>
