<button class="btn btn-tn btn-success" (click)="toPDF(accusColumns, accus, isFrench ? 'Batteries' : 'Accus', isFrench)">{{ "FIELDSEXPLANATION.BTNACCUS" | translate }}</button>
<button class="btn btn-tn btn-danger" (click)="toPDF(batteryColumns, batteries,  isFrench ? 'Piles' : 'Battery', isFrench)">{{ "FIELDSEXPLANATION.BTNBATTERY" | translate }}</button>
<button class="btn btn-tn btn-warning" (click)="toPDF(countryColumns, countries,  isFrench ? 'Pays' : 'Country', isFrench)">{{ "FIELDSEXPLANATION.BTNCOUNTRY" | translate }}</button>
